@media (max-width: 810px) {
  .container {
    width: 95vw;
  }
  .image-div::after {
    display: none;
  }
  .image-title {
    p {
      width: 200px;
    }
  }
}
@media (max-width: 670px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .image-div {
    width: auto;
  }
  // .image-div::after {
  //   content: '';
  //   background-color: rgb(26, 27, 27);
  //   display: block;
  //   height: 60px;
  //   width: 40px;
  //   position: absolute;
  //   right: 362px;
  //   clip-path: polygon(0 0, 100% 0, 50% 30%);
  // }
  .image-title {
    p {
      text-align: center;
    }
  }
}